FinApi - Finance

Requirements
[x] It should be possible to create an account
[x] It should be possible to fetch the customer's bank statement
[x] It must be possible to make a deposit
[x] It must be possible to perform a withdrawal
[x] It should be possible to search the customer's bank statement by date
[x] It must be possible to update customer account data
[x] Must be possible to get customer account data
[x] It must be possible to delete an account

Business rules
[x] It should not be possible to register an account with an existing CPF
[x] It must not be possible to deposit into a non-existing account
[x] It must not be possible to fetch a statement in a non-existing account
[x] It must not be possible to withdraw to a non-existing account
[x] It must not be possible to delete a non-existing account
[x] It should not be possible to withdraw when the balance is insufficient